<head>
    <title>Shopster - Your Cart</title>
</head>
<body>
    <h1>
        Shopster
    </h1>

    <div id=mount>
       <div>
          <%- app %>
       </div>

    </div>
    <script src=bower_components/react/react.js></script>
    <script src=app.js></script>

</body>
