<head>
    <title>Shopster - Buy Everything</title>
    <link href='https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <div class="container">
    <h1>
        Shopster - Buy Everything
    </h1>
    

    <div id=mount>
       <div>
          <%- app %>
       </div>

    </div>
    <script src=bower_components/react/react.js></script>
    <script src=app.js></script>
	</div>
</body>
