<head>
    <title>Shopster - Your Cart</title>
</head>
<body>
    <h1>
        Shopster
    </h1>

    <div>
        <%- app %>
    </div>
    <script src=bower_components/react/react.js></script>
    <script>
//      window.__defaults = <%- defaults %>;
    </script>
    <script src=app.js></script>

</body>
