<head>
    <title>Shopster - Your Cart</title>
    <link rel="stylesheet" href="bower_components/skeleton/css/skeleton.css">
</head>
<body>
   <div class="container">
    <h1>
        Shopster - An E-Commerce Website
    </h1>

    <div id=mount>
       <div>
          <%- app %>
       </div>

    </div>
    <script src=bower_components/react/react.js></script>
    <script src=app.js></script>
	</div>
</body>
